body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    background-color: #ffffffeb;
    color: rgb(3, 3, 3);
    padding: 1rem;
    border: solid 2px;
    border-bottom-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.imgHeader {
  height: 5rem;
  width: auto;
  
}

  main {
    padding: 3rem;
    background-color: #d8d5d5;
  }

  footer {
    background-color: #ffffffeb;
    color: rgb(3, 3, 3);
    padding: 1rem;
    text-align: center;
    border: solid 2px;
    border-top-color: rgb(0, 0, 0);
  }
  
  .product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center ;
  }
  
  .product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    width: calc(25% - 2rem);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    background-color: rgb(255, 255, 255);
  }
  
  .product-card:hover {
    transform: translateY(-5px);
  }
  
  .product-card img {
    max-width: 100%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
  
  .product-card h2 {
    font-size: 1.25rem;
    margin: 0 0 0.5rem 0;
  }
  
  .product-card p {
    margin: 0 0 1rem 0;
    color: #555;
  }
  
  .product-card button {
    background-color: #333;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .product-card button:hover {
    background-color: #555;
  }
   

/* Hamburger Menü CSS ----------------------------------------------------------------*/

#menuToggle {
  display: block;
  position: relative;
  top: 15px;
  left: 15px;
  z-index: 3;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: 0;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 4;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 3;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  z-index: 2;
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

